# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [30]:
import pandas as pd

#### Описание данных

В папке Dat (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

In [1]:
!wget https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip
!unzip Data.zip

--2024-02-09 17:42:24--  https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2024-02-09 17:42:24--  https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip’

Data.zip            100%[===================>]  16.33K  --.-KB/s    in 0s

2024-02-09 17:42:24 (86.8 MB/s) - ‘Data.zip’ saved [16727/16727]

Archive:  Data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
import pandas as pd

df_info = pd.concat([pd.read_csv(f'Data/Students_info_{i}.csv') for i in range(10)], ignore_index=True)
df_marks = pd.concat([pd.read_csv(f'Data/Students_marks_{i}.csv') for i in range(10)], ignore_index=True)
df = pd.merge(df_info, df_marks, on="index")
df.sample(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
494,494,female,group B,high school,standard,none,group5,54,64,68
974,974,female,group A,some college,standard,none,group10,54,63,67
67,67,female,group C,some college,standard,none,group1,60,72,74
606,606,female,group C,associate's degree,standard,none,group7,85,84,82
926,926,male,group E,associate's degree,free/reduced,none,group10,64,56,52
963,963,female,group C,some high school,free/reduced,completed,group10,65,76,75
676,676,female,group E,some college,standard,completed,group7,73,78,76
929,929,female,group C,some high school,free/reduced,none,group10,48,56,51
100,100,male,group B,some college,standard,none,group2,79,67,67
824,824,female,group C,some high school,free/reduced,none,group9,48,58,52

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
df.drop(columns=['index'], inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [11]:
print(df.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [14]:
print(df.describe().iloc[[1, 2, 3, 7]])

      math score  reading score  writing score
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [15]:
print(df.isnull().any())

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
group                          False
math score                     False
reading score                  False
writing score                  False
dtype: bool

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [17]:
print(df.mean())

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

<ipython-input-17-d585c2482247>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [23]:
# Группировка данных по столбцу "test preparation course" и вычисление среднего для каждого предмета
mean_scores = df.groupby('test preparation course').mean()

print("Средний балл студентов, проходивших курс подготовки к экзамену:")
print(mean_scores.loc['completed', ['math score', 'reading score', 'writing score']])
print("\nСредний балл студентов, не проходивших курс подготовки к экзамену:")
print(mean_scores.loc['none', ['math score', 'reading score', 'writing score']])

Средний балл студентов, проходивших курс подготовки к экзамену:
math score       69.695531
reading score    73.893855
writing score    74.418994
Name: completed, dtype: float64

Средний балл студентов, не проходивших курс подготовки к экзамену:
math score       64.077882
reading score    66.534268
writing score    64.504673
Name: none, dtype: float64

<ipython-input-23-372d54c35817>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_scores = df.groupby('test preparation course').mean()

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [24]:

print(df['lunch'].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [26]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [27]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [28]:
# Доля студентов, сдавших экзамен по математике (passmark >= 50)
passed_frac = len(df[df['math score'] >= passmark]) / len(df)

# Доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике
prep_passed_frac = len(df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark)]) / len(df[df['test preparation'] == 'completed'])

# Доля женщин, не проходивших курс подготовки и не сдавших экзамен по математике
failed_female_frac = len(df[(df['test preparation'] == 'none') & (df['gender'] == 'female') & (df['math score'] < passmark)]) / len(df[(df['test preparation'] == 'none') & (df['gender'] == 'female')])

# Вывод результатов
print("Доля сдавших по математике:", passed_frac)
print("Доля сдавших по математике с курсом подготовки:", prep_passed_frac)
print("Доля женщин, не сдавших по математике без подготовки:", failed_female_frac)

Доля сдавших по математике: 0.865
Доля сдавших по математике с курсом подготовки: 0.9217877094972067
Доля женщин, не сдавших по математике без подготовки: 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [29]:
import time

# Задание 11.1: Средний балл за экзамен по чтению для каждой этнической группы
start_time = time.time()
ethnic_reading_mean = df.groupby('race/ethnicity')['reading score'].mean()
end_time = time.time()

print("Средний балл за экзамен по чтению для каждой этнической группы:")
print(ethnic_reading_mean)
print("Время выполнения задания:", end_time - start_time, "секунд")

# Задание 11.2: Минимальный балл за экзамен по письму для каждого уровня образования
start_time = time.time()
education_writing_min = df.groupby('education')['writing score'].min()
end_time = time.time()

print("\nМинимальный балл за экзамен по письму для каждого уровня образования:")
print(education_writing_min)
print("Время выполнения задания:", end_time - start_time, "секунд")

Средний балл за экзамен по чтению для каждой этнической группы:
race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Время выполнения задания: 0.002396821975708008 секунд

Минимальный балл за экзамен по письму для каждого уровня образования:
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
Время выполнения задания: 0.003965854644775391 секунд

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [31]:
import time

# Задание 12.1: Средний балл за экзамен по чтению для каждой этнической группы с использованием циклов
start_time = time.time()
ethnic_reading_mean = {}
ethnic_groups = df['race/ethnicity'].unique()
for ethnic_group in ethnic_groups:
    total_score = 0
    count = 0
    for index, row in df.iterrows():
        if row['race/ethnicity'] == ethnic_group:
            total_score += row['reading score']
            count += 1
    ethnic_reading_mean[ethnic_group] = total_score / count if count != 0 else 0
end_time = time.time()

print("Средний балл за экзамен по чтению для каждой этнической группы:")
print(ethnic_reading_mean)
print("Время выполнения задания:", end_time - start_time, "секунд")

# Задание 12.2: Минимальный балл за экзамен по письму для каждого уровня образования с использованием циклов
start_time = time.time()
education_writing_min = {}
education_levels = df['education'].unique()
for education_level in education_levels:
    min_score = float('inf')
    for index, row in df.iterrows():
        if row['education'] == education_level:
            min_score = min(min_score, row['writing score'])
    education_writing_min[education_level] = min_score
end_time = time.time()

print("\nМинимальный балл за экзамен по письму для каждого уровня образования:")
print(education_writing_min)
print("Время выполнения задания:", end_time - start_time, "секунд")

Средний балл за экзамен по чтению для каждой этнической группы:
{'group B': 67.35263157894737, 'group C': 69.10344827586206, 'group A': 64.67415730337079, 'group D': 70.03053435114504, 'group E': 73.02857142857142}
Время выполнения задания: 0.22482633590698242 секунд

Минимальный балл за экзамен по письму для каждого уровня образования:
{"bachelor's degree": 38, 'some college': 19, "master's degree": 46, "associate's degree": 35, 'high school': 15, 'some high school': 10}
Время выполнения задания: 0.27740001678466797 секунд

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [33]:
pivot_table = df.pivot_table(index=['gender', 'education'],
                             values=['math score', 'reading score', 'writing score'],
                             aggfunc='mean')

pivot_table

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [34]:
# Создание столбца Math_PassStatus
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')

# Создание столбца Reading_PassStatus
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')

# Создание столбца Writing_PassStatus
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')

# Подсчет количества студентов, сдавших и не сдавших экзамены
math_pass_count = df['Math_PassStatus'].value_counts()
reading_pass_count = df['Reading_PassStatus'].value_counts()
writing_pass_count = df['Writing_PassStatus'].value_counts()

print("Количество студентов, сдавших и не сдавших экзамен по математике:")
print(math_pass_count)
print("\nКоличество студентов, сдавших и не сдавших экзамен по чтению:")
print(reading_pass_count)
print("\nКоличество студентов, сдавших и не сдавших экзамен по письму:")
print(writing_pass_count)

Количество студентов, сдавших и не сдавших экзамен по математике:
P    865
F    135
Name: Math_PassStatus, dtype: int64

Количество студентов, сдавших и не сдавших экзамен по чтению:
P    910
F     90
Name: Reading_PassStatus, dtype: int64

Количество студентов, сдавших и не сдавших экзамен по письму:
P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [35]:
# Создание столбца OverAll_PassStatus
df['OverAll_PassStatus'] = df.apply(lambda row: 'P' if row['Math_PassStatus'] == 'P' and row['Reading_PassStatus'] == 'P' and row['Writing_PassStatus'] == 'P' else 'F', axis=1)

overall_pass_count = df['OverAll_PassStatus'].value_counts()
print("Количество студентов, успешно сдавших все экзамены:")
print(overall_pass_count['P'])

Количество студентов, успешно сдавших все экзамены:
812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [36]:
def GetGrade(average_mark):
    if average_mark > 90:
        return 'A'
    elif 80 <= average_mark <= 90:
        return 'B'
    elif 70 <= average_mark < 80:
        return 'C'
    elif 60 <= average_mark < 70:
        return 'D'
    elif 50 <= average_mark < 60:
        return 'E'
    else:
        return 'F'

# Создание столбца Grade с оценками для каждого студента
df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis=1).apply(GetGrade)

# Вывод количества студентов, получивших каждую из оценок
grade_counts = df['Grade'].value_counts()

print("Количество студентов, получивших каждую из оценок:")
print(grade_counts)

Количество студентов, получивших каждую из оценок:
C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64

In [37]:
#итоговый вид таблицы:
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B